
body {
  background-image: url('wavegrid.png');
  background-color: #F1F1F1;
  font-family: "Helvetica Neue", Helvetica, Verdana, sans-serif;
}

a {
  color: #333;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ul {
  font-weight: 300;
  list-style-type: none;
  line-height: 1.6em;
  padding: 0;

  height: 7em;
  width: 200px;

  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

li {
  text-align: center;
}
