<ul class="links">
  {{ with .Site.Params.cv }}
  <li>
    <a href="{{ . }}" target="_blank" title="My Curriculum vitæ">
      Curriculum vitæ
    </a>
  </li>
  {{ end }} / {{ with .Site.Params.twitter }}
  <li>
    <a href="https://twitter.com/{{ . }}" target="_blank" title="My Twitter">
      Twitter
    </a>
  </li>
  {{ end }} / {{ with .Site.Params.github }}
  <li>
    <a href="https://github.com/{{ . }}" target="_blank" title="My Github">
      Github
    </a>
  </li>
  {{ end }} / {{ with .RSSLink }}
  <li>
    <a href="{{ . }}" target="_blank" title="RSS">
      RSS
    </a>
  </li>
  {{ end }}
</ul>
